# Construcción de un modelo estadístico base

### Librerías Utilizadas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Importamos los datos

Las variables que se eligieron en la entrega anterior fueron: 

- cylindernumber
- curbweight
- enginesize
- horsepower
- citympg
- highwaympg

El dataframe a continuación contará con dichas variables junto con 'Price'.

In [2]:
df = pd.read_csv('precios_autos-2.csv')
datos = df.drop(['symboling','CarName','fueltype','carbody','drivewheel','enginelocation','wheelbase','carlength','carwidth','carheight','enginetype','stroke','compressionratio','peakrpm'], axis=1)
datos.head()

,curbweight,cylindernumber,enginesize,horsepower,citympg,highwaympg,price
0,2548,four,130,111,21,27,13495.0
1,2548,four,130,111,21,27,16500.0
2,2823,six,152,154,19,26,16500.0
3,2337,four,109,102,24,30,13950.0
4,2824,five,136,115,18,22,17450.0